.ambient {
    text-transform: italic;
}

.ambient::before {
    content: "* ";
}

.profile {
    color: blue;
}

.error {
    color: red;
}

.scene {
    margin-left: 2em;
    text-transform: uppercase;
    font-family: monospace;
}
