.ambient {
    text-transform: italic;
}

.ambient::before {
    content: "* ";
}

.profile, .match-message {
    color: blue;
}

.error {
    color: red;
}

.scene {
    margin-left: 2em;
    text-transform: uppercase;
    font-family: monospace;
}

[data-sexual-preference=Gay] {
    background-color: pink;
}
